<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/image/could.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Akshay, It uses the mapdox.com and weatherstack.net</p>
    <img class="potrait" src="./image/logo.png" alt="My Logo">
    </div>
    
    {{>footer}}
</body>
</html>