<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/image/could.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is some help full text</p>
        {{errorMessage}}
    </div>
    
    {{>footer}}
</body>
</html>